<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="com.mysql.jdbc.Driver"/>
        <property name="jdbc:mysql://127.0.0.1:3306/test?useSSL=true&characterEncoding=utf8&serverTimezone=UTC"/>
        <property name="sl0216"/>
        <property name="lst601815"/>
        <property name="connection.url">jdbc:mysql://120.78.89.153:3306/portal?useSSH=true</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="com.lstfight.portal.entity.DepartmentUserEntity"/>
        <mapping class="com.lstfight.portal.entity.SysDepartmentEntity"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>